<h1>Lista de Seriesz</h1>
<ul>
  <% @movies.each do |movie| %>
    <li>
      <strong>Name:</strong> <%= movie.name %><br>
      <strong>Synopsis:</strong> <%= movie.synopsis %><br>
      <strong>Director:</strong> <%= movie.director %>
    </li>
  <% end %>
</ul>