<h1>Lista de Documentalesz</h1>
<ul>
  <% @documentary_films.each do |documentary| %>
    <li>
      <strong>Name:</strong> <%= documentary.name %><br>
      <strong>Synopsis:</strong> <%= documentary.synopsis %><br>
      <strong>Director:</strong> <%= documentary.director %>
    </li>
  <% end %>
</ul>
